In [27]:
import numpy as np
import pandas as pd
import random 
from pprint import pprint

PATH = '../data/house_price_dataset.csv'

In [28]:
result = pd.read_csv(PATH)
result.set_index(np.array( [i for i in range(1000)] ))
result

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
995,3261,4,1,1978,2.165110,2,10,7.014940e+05
996,3179,1,2,1999,2.977123,1,10,6.837232e+05
997,2606,4,2,1962,4.055067,0,2,5.720240e+05
998,4723,5,2,1950,1.930921,0,7,9.648653e+05
999,3268,4,2,1983,3.108790,2,2,7.425993e+05

In [35]:
shuffle_index = np.random.permutation( result.index )
result = result.set_index(shuffle_index)
result

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
277,1360,2,1,1981,0.599637,0,5,2.623829e+05
286,4272,3,3,2016,4.753014,1,6,9.852609e+05
901,3592,1,2,2016,3.634823,0,9,7.779774e+05
61,966,1,2,1977,2.730667,1,8,2.296989e+05
384,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
858,3261,4,1,1978,2.165110,2,10,7.014940e+05
234,3179,1,2,1999,2.977123,1,10,6.837232e+05
813,2606,4,2,1962,4.055067,0,2,5.720240e+05
174,4723,5,2,1950,1.930921,0,7,9.648653e+05
581,3268,4,2,1983,3.108790,2,2,7.425993e+05